
@{
    ViewBag.Title = "MainPhone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop3 d-none d-lg-block">
        <div class="section__content section__content--p35">
            <div class="header3-wrap">
                <div class="header__logo">
                    <h3 style="color:white"> <i class="fas fa-address-book"></i> Telephone</h3>
                </div>
                <div class="header__navbar">
                    <ul class="list-unstyled">
                        <li>
                            <a href="@Url.Action("Index","Home")">
                                <i class="fas fa-list"></i>
                                <span class="bot-line"></span>Phone List
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("MS1_10","Home")">
                                <i class="fas fa-address-book"></i>
                                <span class="bot-line"></span>Phone Book
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Fire")">
                                <i class="fas fa-address-book"></i>
                                <span class="bot-line"></span>Fire
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header__tool">
                    <div class="header-button-item has-noti js-item-menu">

                    </div>
                    <div class="header-button-item js-item-menu">

                    </div>
                    <div class="account-wrap">
                        <div class="account-item account-item--style2 clearfix js-item-menu">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER DESKTOP-->
    <!-- HEADER MOBILE-->
    <header class="header-mobile header-mobile-2 d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <h4 style="color:white"><i class="fas fa-address-book"></i> Telephone</h4>
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            <i class="fas fa-list"></i>Phone List
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("MS1_10","Home")">
                            <i class="fas fa-address-book"></i>Phone Book
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="sub-header-mobile-2 d-block d-lg-none">
        <div class="header__tool">
            <div class="header-button-item has-noti js-item-menu">

            </div>
            <div class="header-button-item js-item-menu">

            </div>
            <div class="account-wrap">
                <div class="account-item account-item--style2 clearfix js-item-menu">

                </div>
            </div>
        </div>
    </div>
    <!-- END HEADER MOBILE -->
    <!-- PAGE CONTENT-->
    <div class="page-content--bgf7">

        <!-- DATA TABLE-->
        <section class="p-t-20">

            <div class="container">
                @RenderBody()

            </div>
        </section>
        <!-- END DATA TABLE-->
        <!-- COPYRIGHT-->
        <section class="p-t-60 p-b-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END COPYRIGHT-->
    </div>

</div>


<!-- Vendor JS       -->
<script src="~/Scripts/vendor/slick/slick.min.js"></script>
<script src="~/Scripts/vendor/animsition/animsition.min.js"></script>
<script src="~/Scripts/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="~/Scripts/vendor/circle-progress/circle-progress.min.js"></script>
<script src="~/Scripts/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<!-- Main JS-->
<script src="~/Scripts/js/main.js"></script>